.nav{
  position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin: -1.5em 0 0 0;
    z-index: 5;
    color: #009;
    font-weight: bold;
    font-size: large;
    border: solid hsla(20, 50%, 90%, 0.1);
    border-right: none;
    padding: 0.2em 0.2em 0.2em 2.5em;
    box-shadow: 0 4px 3px black;
    border-radius: 3em 0.5em 0.5em 3em;
}
  .nav li { margin: 0 }
  .nav a { color: inherit }

  .nav { position: absolute }
  *>.nav { position: fixed }
  .inverterImg{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.f{
    background-image: url('../img/b.jpg');
}
.bg-img {
  filter: brightness(0.1);
}
h5{
    background-image: url('../img/b.jpg');
    color:#00f;
    font-style:italic;
    font-weight: 900;
}
p{
  color: #00f;
}